{% extends "base.html" %}
{% from "_button_link.html" import button_link %}
{% from "_upload_file.html" import upload_file %}

{% block title %}
AGP - Perfil
{% endblock %}

{% block page_content %}
<div class="col-md-4">
    <h1>{{current_user.first_name}}</h1>
    <h2>Editar perfil</h2>
    {{wtf.quick_form(form)}}
</div>

<ul>
    {% for quiz_name, info in grades.items() %}
    <li>{{quiz_name}} : {{info}}</li>
    {% endfor %}
</ul>

{% if is_admin == True %}
<hr>
<h1>Opciones de Administrador</h1>
{{button_link( btn_text="Tablero de datos",               href=url_for("main.data_dashboard")     )}}
{{button_link( btn_text="Descargar reporte de usuarios",  href='#',                               )}}
{{upload_file( btn_text="Actualizar preguntas",           action=url_for("main.update_questions") )}}
{% endif %}

{% endblock %}