{% extends "base.html" %}
{% from "_button_link.html" import button_link %}
{% from "_upload_file.html" import upload_file %}

{% block title %}
AGP - Perfil
{% endblock %}


{% block page_content %}
<h1>{{current_user.first_name}}</h1>
<div class="col-md-6">
    <hr>
    <h1>Editar perfil</h1>
    {{wtf.quick_form(form)}}
</div>
{# 
<ul>
    {% for quiz_name, info in grades.items() %}
    <li>{{quiz_name}} : {{info}}</li>
    {% endfor %}
</ul>
#}
<div class="col-md-6">
    <hr>
    <h1>Mis evaluaciones</h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1"
            aria-disabled="true">Vestibulum at eros</a>
    </div>
</div>


{% if is_admin == True %}
<div class="col-md-6">
    <hr>
    <h1>Opciones de Administrador</h1>
    {{button_link( btn_text="Tablero de datos",               href=url_for("main.data_dashboard")   )}}
    {{button_link( btn_text="Descargar reporte de usuarios",  href='#',                             )}}
    {{button_link( btn_text="Actualizar preguntas",           href=url_for("main.update_questions")  )}}
</div>

{% endif %}
{% endblock %}