{% extends "base.html" %}

{% block title %}
Registrarse
{% endblock %}

{% block page_content %}
<h1>Registrarse</h1>
<div class="col-md-4">
    {{wtf.quick_form(form)}}
    <br>
    <p><a href="{{url_for('auth.login')}}">¿Ya tiene un usuario?</a></p>
</div>

{% endblock %}

{% block scripts %}
<script>
    // Add link for terms and conditions to pregenerated form
    const termsAndConditionsUrl = "{{url_for('main.terms_and_conditions')}}";
    const replaceTerm = "términos y condiciones.";
    const htmlAnchor = `<a href="${termsAndConditionsUrl}" target="_blank">${replaceTerm}</a>`;
    
    const label = document.querySelector(".checkbox label");
    label.innerHTML = label.innerHTML.replace(replaceTerm, htmlAnchor);
</script>
{% endblock scripts %}