# Text editor settings
.vscode/

# Python cache files
__pycache__/

# Private environment variables
.env

# Wkhtmltopdf lib
wkhtmltopdf/*

# Mock pdf files.
*.pdf

# Data csv reports
*.csv

# Question JSON sources
questions/

# Temporary files
temp/*
uploads/*

# Secret files
secret/*

env/