[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-bootstrap = "*"
email-validator = "*"
flask-wtf = "*"
flask-mongoengine = "*"
flask-mail = "*"
itsdangerous = "*"
pdfkit = "*"

[requires]
python_version = "3.8"
