[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-pymongo = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}

[requires]
python_version = "3.8"
