[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-wtf = {extras = ["email_validator"], version = "*"}
flask-bootstrap = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
flask-mongoengine = "*"
email-validator = "*"

[requires]
python_version = "3.8"
