{% import "bootstrap/wtf.html" as wtf %}

{% macro article_index(section_headers, collapse_id) %}
<div class="art-index">
    {% for href, title in section_headers.items() %}
    <div class="art-index-item"><a href="{{'#' + href}}">{{title}}</a></div>
    {% endfor %}
</div>
{% endmacro %}

{% macro article_navbar(section_headers) %}
    {% for href, title in section_headers.items() %}
        <li><a href="{{'#'+ href}}" data-toggle="collapse" data-target="#{{collapse_id or 'articleCollapse'}}.navbar-collapse">{{title}}</a></li>
    {% endfor %}
{% endmacro %}

{% macro section_header(href, section_headers) %}
{% if href in section_headers %}
<!-- {{href}} -->
<h2 id ="{{href}}" class="section-header">{{section_headers[href]}}</h2>
{% endif %}
{% endmacro %}

{% macro card(img_src, title, text, btn_link, btn_text) %}
<div class="card">
    <div class="card-body">
        <img src="{{img_src}}" class="card-img-top">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{text}}</p>
        <a href="{{btn_link}}" class="btn" target="_blank">{{btn_text}} <i class="fas fa-external-link-alt fa-external-link-alt-blue"></i></a>
    </div>
</div>
{% endmacro %}