{% import "bootstrap/wtf.html" as wtf %}

{% macro article_index(section_headers) %}
<div class="art-index">
    {% for href, title in section_headers.items() %}
    <div class="art-index-item"><a href="{{'#' + href}}">{{title}}</a></div>
    {% endfor %}
</div>
{% endmacro %}

{% macro article_navbar(section_headers) %}
    {% for href, title in section_headers.items() %}
        <li><a href="{{'#'+ href}}">{{title}}</a></li>
    {% endfor %}
{% endmacro %}

{% macro section_header(href, section_headers) %}
{% if href in section_headers %}
<!-- {{href}} -->
<h2 id ="{{href}}" class="section-header">{{section_headers[href]}}</h2>
{% endif %}
{% endmacro %}