{% extends "cursos/cursos_base.html" %}
{% from "cursos/_article.html" import section_header %}
{% set section_headers = {
    "que-es": "¿QUÉ ES EL CÁNCER DE PULMÓN?", 
    "sintomas": "SÍNTOMAS",
    "factores-de-riesgo": "FACTORES DE RIESGO",
    "prevencion": "PREVENCIÓN",
    "instituciones": "INSTITUCIONES",
    "actividades": "ACTIVIDADES",
    "evaluacion": "EVALUACIÓN" } %}

{% block title %}
Cáncer de Pulmón
{% endblock %}


{% block banner %}
<img class="img-banner" src="/static/img/titulo_pulmon.JPG" >
{% endblock banner %}

{% block article %}
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("que-es", section_headers)}}
<p>
    Se origina en los pulmones. Normalmente, comienza en la reproducción acelerada de las células que revisten los
    bronquios
    y otras partes del pulmón, como los bronquiolos o los alvéolos.
</p>

<img class="center img-md" src="/static/img/cancer_pumon.png">

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("sintomas", section_headers)}}
<div>Los síntomas son tardías, y por eso el cáncer de pulmón se diagnostica en etapas avanzadas. Los síntomas
    dependen de la
    localización y extensión del tumor en el pulmón. Los más frecuentes son los siguientes:
    <ul><br>
        <li>Tos.</li>
        <li>Hemoptisis (Expulsión de sangre de los pulmones o bronquios).</li>
        <li>Disnea (Dificultad para respirar o sensación de ahogo).</li>
        <li>Dolor torácico (Dolor entre el diafragma y la base del cuello, tórax).</li>
        <li>Disfonía (Cambios anormales en la voz, afección de la cuerdas vocales).</li>
        <li>Disfagia (Dificultad para tragar alimentos sólidos o líquidos, Sensación de que la comida se queda
            detenida o
            mitad del tórax).</li>
        <li>Síndrome de Horner (Afecta a las estructuras nerviosas en la parte más alta del tórax: Pupillas
            contraidas, párpado caído,
            sequedad facial, aspecto hundido del ojo, falta de sudoración en la mitad de la cara).</li><br>
    </ul>
</div>

<img class="center img-md" src="/static/img/ojos_pulmon.png">

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("prevencion", section_headers)}}
<div>
    Existen algunas medidas que puede tomar para tratar de reducir su riesgo:
    <ul><br>
        <li>No fume.</li>
        <li>Evite el humo secundario del tabaco.</li>
        <li>Realice pruebas para detectar radón en su casa.</li>
        <li>Tenga cuidado en el trabajo, evite sustancias carcinógenas.</li><br>
    </ul>
</div>

<img class="center img-sm" src="/static/img/nofumar_pulmon.png" >
    
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("instituciones", section_headers)}}
<p>Hospital General del Estado Dr. Ernesto Ramos Bours.</p>
<p>Blvd. Luis Encinas J. S/N, San Benito, 83000 </p>
<p>662 259 2501</p>
<br>

<p>Hospital Infantil del Estado de Sonora</p>
<p>Calle de la Reforma 355, Ley 57, 83100</p>
<p>662 289 0600</p>
<br>

<p>Hospital Oncologico del Estado de Sonora</p>
<p>Reforma Final esq. Río Magdalena. Fraccionamiento Vado del Río. c.p. 83280</p>
<p>(662) 21758-36 y (662) 276-0059 </p>
<br>

<p>Clínica del Noroeste</p>
<p>Av Luis Donaldo Colosio #23, Centro, 83000</p>
<p>212 0620 ext-147</p>
<br>

<p>Hospital San José: <b>Centro de Alta Especialidad en Oncología San José Sonora</b></p>
<p>Bulevar José María Morelos 463, Las Colinas, 83145 </p>
<p>Hermosillo, Son</p>
<p>662 689 3289 ext-6300</p>
<br>

<p>Hospital San José Hermosillo</p>
<p>662 454 0060</p>
<p>Dr. Gilberto Covarrubias Espinoza</p>
<p>662 109 0531</p>
<br>

<p>ISSSTESON</p>
<p>Blvd. Miguel Hidalgo 15, Centro, 83000 Hermosillo, Son.</p>
<p>662 217 1028</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez: <b>Área de Quimioterapia</b></p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800 ext-88618</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez</p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800</p>
<br>

<p>IMSS Zona 14: <b>Unidad Médica Familiar</b></p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>647 427 0490</p>
<br>

<p>IMSS Zona 14</p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>800 623 2323</p>
<br>

<p>Hospital Cima: <b>Oncología</b></p>
<p>Av Paseo Río San Miguel no. 35, Proyecto Rio </p>
<p>Dr. Alfonso Genaro Guevara Torres</p>
<p>(662) 213 9418</p>
<p>Dr. Ernesto Rivera Claisse</p>
<p>(662) 259 9300</p>
<p>Dr. Maxwell Avilés Rodríguez</p>
<p>(662) 259 9300</p>
<br>
<img class="center img-sm" src="/static/img/hospital_pulmon.png">
    
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("actividades", section_headers)}}
<br>
<div class="row row-eq-height cards">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/matchup.png" class="card-img-top">
                <h5 class="card-title">Matchup</h5>
                <p class="card-text">Matchup para reforzar tus nuevos conocimientos de cáncer de pulmón.</p>
                <a href=" https://wordwall.net/resource/5425831" class="btn" target="_blank">Ir a la Actividad <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/testi.png" class="card-img-top">
                <h5 class="card-title">Testimonios</h5>
                <p class="card-text">Historias de pacientes que tuvieron cáncer de pulmón.</p>
                <a href="https://www.youtube.com/watch?v=F1YHSo96fck" class="btn" target="_blank">Ir a al Video <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock article %}