{% extends "cursos/cursos_base.html" %}
{% from "cursos/_article.html" import section_header %}
{% set section_headers = {
    "que-es": "¿QUÉ ES EL CANCER TESTICULAR?", 
    "sintomas": "SÍNTOMAS",
    "autoexaminacion": "AUTOEXAMINACIÓN",
    "instituciones": "INSTITUCIONES",
    "actividades": "ACTIVIDADES",
    "evaluacion": "EVALUACIÓN" } %}

{% block title %}
Cáncer de Testículo
{% endblock %}

{% block banner %}
<img class="img-banner" src="/static/img/listontesticular.jpg">
{% endblock banner %}

{% block article %}
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("que-es", section_headers)}}
<p>Se origina en los testículos. Los testículos tienen dos funciones principales: Producen hormonas masculinas, como la testosterona.
    Producen espermatozoides, necesarios para fertilizar la célula sexual femenina, y comenzar un embarazo. Los testículos están
    compuestos de muchos tipos de células. Es importante saber el tipo de célula en el que se originó el cáncer y qué tipo de cáncer
    es, porque se tratan de maneras diferentes.
</p>

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("sintomas", section_headers)}}
<p>El síntoma más común es un bulto o inflamación en algún testículo. Pueden ser tan pequeños como un chícharo. Normalmente
    causan molestias pero no dolor.</p>

<p>Otros síntomas comunes son:</p>
<ul>
    <li>Cambios en el tamaño, aspecto o textura de uno o ambos testículos</li>
    <li>Dolor o molestia en la espalda, la ingle, la parte inferior del abdomen o del escroto</li>
    <li>Pesadez en el escroto o hinchazón en la parte inferior del abdomen</li>
    <li>Bultos o sensibilidad en las mamas</li>
    <li>Acumulación de líquido en el testículo</li>
</ul>
<img src="/static/img/ctesticulosintomas.PNG" class="center img-lg">
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("autoexaminacion", section_headers)}}
<p>En la actualidad no es posible evitar la mayoría de los casos de esta enfermedad. Pero los expertos recomiendan corregir la
    criptorquidia (falta de descenso de uno o ambos testículos)
    en los niños.</p>
<p>El primer paso para diagnosticar este cáncer es examinarte por un médico para encontrar cualquier inflamación anormal.</p>
<p>Hacerse el hábito de autoexaminarse es una buena práctica para la identificación de síntomas en fase temprana. El mejor momento
    para autoexaminarte es durante o después de una ducha, cuando la piel está relajada. </p>
<ol>
    <li>Mueve el pene a un lado para poder ver los testículos en un espejo. Examínalos para detectar bultos o inflamación. Es normal
        que uno sea un poco más grande que el otro o cuelgue un poco más abajo.</li>
    <li>Sostén un testículo con los dedos índice y medio por debajo y con el pulgar por encima. Normalmente, cada testículo es
        ovalado, suave y firme</li>
    <li>Mueve el testículo suavemente entre el pulgar y los dedos para detectar bultos. </li>
    <li>Revisa el epidídimo, situado en la parte superior
        y posterior de cada testículo. Puede que lo sientas más desigual al tacto, o con
        más bultos, que el testículo.
    
    <img src="/static/img/ctesticuloprevencion1.png" class="center img-md img-block">
    </li>
    <li>Palpa el tubo denominado “conducto deferente” que sale del epidídimo y se asemeja a un espagueti (Debe sentirse como un
        cordón suave). <br>
        <br>
        <div class="centrar">
            <img src="/static/img/ctesticuloprevencion2.PNG" class="center img-sm" >
            <img src="/static/img/ctesticuloprevencion3.PNG" class="center img-sm" >
        </div>
    </li>
    <li>Repite el examen en el otro testículo.</li>
    <li>Realiza esta examinación de vez en cuando, aún cuando <br>
        no sientas síntomas. Esto te ayudará a familiarizarte con tu cuerpo y <br>
        detectar cuando haya anormalidades.</li>
</ol>

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("instituciones", section_headers)}}
<p>Hospital General del Estado Dr. Ernesto Ramos Bours.</p>
<p>Blvd. Luis Encinas J. S/N, San Benito, 83000 </p>
<p>662 259 2501</p>
<br>

<p>Hospital Infantil del Estado de Sonora</p>
<p>Calle de la Reforma 355, Ley 57, 83100</p>
<p>662 289 0600</p>
<br>

<p>Hospital Oncologico del Estado de Sonora</p>
<p>Reforma Final esq. Río Magdalena. Fraccionamiento Vado del Río. c.p. 83280</p>
<p>(662) 21758-36 y (662) 276-0059 </p>
<br>

<p>Clínica del Noroeste</p>
<p>Av Luis Donaldo Colosio #23, Centro, 83000</p>
<p>212 0620 ext-147</p>
<br>

<p>Hospital San José: <b>Centro de Alta Especialidad en Oncología San José Sonora</b></p>
<p>Bulevar José María Morelos 463, Las Colinas, 83145 </p>
<p>Hermosillo, Son</p>
<p>662 689 3289 ext-6300</p>
<br>

<p>Hospital San José Hermosillo</p>
<p>662 454 0060</p>
<p>Dr. Gilberto Covarrubias Espinoza</p>
<p>662 109 0531</p>
<br>

<p>ISSSTESON</p>
<p>Blvd. Miguel Hidalgo 15, Centro, 83000 Hermosillo, Son.</p>
<p>662 217 1028</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez: <b>Área de Quimioterapia</b></p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800 ext-88618</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez</p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800</p>
<br>

<p>IMSS Zona 14: <b>Unidad Médica Familiar</b></p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>647 427 0490</p>
<br>

<p>IMSS Zona 14</p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>800 623 2323</p>
<br>

<p>Hospital Cima: <b>Oncología</b></p>
<p>Av Paseo Río San Miguel no. 35, Proyecto Rio </p>
<p>Dr. Alfonso Genaro Guevara Torres</p>
<p>(662) 213 9418</p>
<p>Dr. Ernesto Rivera Claisse</p>
<p>(662) 259 9300</p>
<p>Dr. Maxwell Avilés Rodríguez</p>
<p>(662) 259 9300</p>
<br>

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("actividades", section_headers)}}
<p>LINK PARA ACTIVIDADES</p>

{% endblock article %}