{% extends "cursos/cursos_base.html" %}
{% from "cursos/_article.html" import section_header %}
{% set section_headers = {
    "que-es": "¿QUÉ ES EL CANCER DE PRÓSTATA?", 
    "sintomas": "SÍNTOMAS",
    "factores-de-riesgo": "FACTORES DE RIESGO",
    "prevencion": "PREVENCIÓN",
    "instituciones": "INSTITUCIONES",
    "actividades": "ACTIVIDADES",
    "evaluacion": "EVALUACIÓN" } %}

{% block title %}
Cáncer de Próstata
{% endblock %}

{% block banner %}
<img class="img-banner" class src="/static/img/portadapro.JPG">
{% endblock banner %}

{% block article %}
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("que-es", section_headers)}}
<p> Se origina cuando las células de la próstata comienzan a crecer fuera de control.
    La próstata es una glándula que sólo tienen los hombres, que produce parte del líquido del semen.
    La próstata está debajo de la vejiga y delante del recto.
    Justo detrás de la próstata se encuentran las vesículas seminales,que producen la mayor parte del líquido del semen.
    La uretra, que transporta la orina y el semen fuera del cuerpo, pasa por el centro de la próstata.

    El tamaño de la próstata puede cambiar a medida que el hombre envejece.
    En los más jóvenes, es del tamaño aproximado de una nuez.
    Puede ser mucho más grande en hombres de más edad.
</p>

<img class="center img-lg img-block" src="/static/img/CancerProstata.PNG">

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("sintomas", section_headers)}}
<p>
    En etapa inicial no causa síntomas. Pero en etapas más avanzadas puede causar síntomas, como:
</p>
<ul>
    <li>Problemas al orinar, con un flujo urinario lento o debilitado o necesidad de orinar con más frecuencia,
        especialmente de noche
    </li>
    <li> Sangre en la orina o el semen</li>
    <li> Dificultad para lograr una erección </li>
    <li>Dolor en las caderas, la espalda, el tórax (costillas) u otras áreas debido a que el cáncer que se ha propagado
        a los huesos</li>
    <li> Debilidad o adormecimiento de las piernas o los pies, o pérdida del control de la vejiga o los intestinos
        debido a que el cáncer comprime la médula espinal</li>
</ul>
<p> Se debe hablar con un médico para asegurarse de la causa de estas señales.</p>
<img class="center img-lg" src="/static/img/Síntomacprostrata.PNG">

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("factores-de-riesgo", section_headers)}}

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("prevencion", section_headers)}}
<p>Existen algunas medidas que puede tomar para tratar de reducir su riesgo: </p>
<ul>
    <li>Dieta saludable</li>
    <li>La alimentación saludable debe incluir una variedad colorida de frutas y verduras, así como granos integrales, y
        que también limite el consumo de carnes rojas y procesadas, bebidas endulzadas con azúcar y alimentos altamente
        procesados.</li>
    <li>Mantener un peso saludable</li>
    <li>Hacer ejercicio la mayoría de los días de la semana</li>
    <li>Hablar con un médico sobre tu riesgo</li>
</ul>
<img class="center img-md" src="/static/img/Prevencióncprostata.PNG">
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("actividades", section_headers)}}
<br>
<div class="row row-eq-height cards">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="/static/img/ahorcado.jpeg" class="card-img-top">
                <h5 class="card-title">Ahorcado</h5>
                <p class="card-text">Juego del ahorcado de los conceptos<br> más importantes sobre el cancer de
                    próstata.</p>
                <a href=" https://wordwall.net/resource/5685013" class="btn">Ir a la Actividad</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="/static/img/ThumbnailProstata.jpeg" class="card-img-top">
                <h5 class="card-title">Es mejor prevenir que lamentar</h5>
                <p class="card-text">Video informativo acerca del cáncer próstata en primera persona.</p>
                <a href="https://www.youtube.com/watch?v=_8s0seviLRw" class="btn">Ir al video</a>
            </div>
        </div>
    </div>
</div>
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("instituciones", section_headers)}}
<p>Hospital General del Estado Dr. Ernesto Ramos Bours.</p>
<p>Blvd. Luis Encinas J. S/N, San Benito, 83000 </p>
<p>662 259 2501</p>
<br>

<p>Hospital Infantil del Estado de Sonora</p>
<p>Calle de la Reforma 355, Ley 57, 83100</p>
<p>662 289 0600</p>
<br>

<p>Hospital Oncologico del Estado de Sonora</p>
<p>Reforma Final esq. Río Magdalena. Fraccionamiento Vado del Río. c.p. 83280</p>
<p>(662) 21758-36 y (662) 276-0059 </p>
<br>

<p>Clínica del Noroeste</p>
<p>Av Luis Donaldo Colosio #23, Centro, 83000</p>
<p>212 0620 ext-147</p>
<br>

<p>Hospital San José: <b>Centro de Alta Especialidad en Oncología San José Sonora</b></p>
<p>Bulevar José María Morelos 463, Las Colinas, 83145 </p>
<p>Hermosillo, Son</p>
<p>662 689 3289 ext-6300</p>
<br>

<p>Hospital San José Hermosillo</p>
<p>662 454 0060</p>
<p>Dr. Gilberto Covarrubias Espinoza</p>
<p>662 109 0531</p>
<br>

<p>ISSSTESON</p>
<p>Blvd. Miguel Hidalgo 15, Centro, 83000 Hermosillo, Son.</p>
<p>662 217 1028</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez: <b>Área de Quimioterapia</b></p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800 ext-88618</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez</p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800</p>
<br>

<p>IMSS Zona 14: <b>Unidad Médica Familiar</b></p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>647 427 0490</p>
<br>

<p>IMSS Zona 14</p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>800 623 2323</p>
<br>

<p>Hospital Cima: <b>Oncología</b></p>
<p>Av Paseo Río San Miguel no. 35, Proyecto Rio </p>
<p>Dr. Alfonso Genaro Guevara Torres</p>
<p>(662) 213 9418</p>
<p>Dr. Ernesto Rivera Claisse</p>
<p>(662) 259 9300</p>
<p>Dr. Maxwell Avilés Rodríguez</p>
<p>(662) 259 9300</p>
<br>

{% endblock article %}