{% extends "cursos/cursos_base.html" %}
{% from "cursos/_article.html" import section_header %}
{% set section_headers = {
    "que-es": "¿QUÉ ES EL CANCER CERVICOUTERINO?", 
    "sintomas": "SÍNTOMAS",
    "factores-de-riesgo": "FACTORES DE RIESGO",
    "deteccion": "DETECCIÓN",
    "instituciones": "INSTITUCIONES",
    "actividades": "ACTIVIDADES",
    "evaluacion": "EVALUACIÓN" } %}

{% block title %}
Cáncer Cervicouterino
{% endblock title %}

{% block banner %}
<img class="img-banner" src="/static/img/listoncervicouterino.jpg">
{% endblock banner %}
<br>

{% block article %}
{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("que-es", section_headers)}}
<p> El cáncer de cervical se origina en las células que se
    producen en el cuello uterino, la parte inferior del útero
    que conecta con la vagina, se origina a partir del crecimiento
    de células gradualmente sin control; este tumor maligno inicia
    en el cuello de la matriz, exactamente dentro de la zona de
    transformación, esta área está compuesta por dos tipos diferentes
    de células: el endocérvix (abertura del cuello uterino, cubierto de
    células glandulares) y el exocérvix (parte externa del cuello uterino,
    cubierto de células escamosas), la ubicación exacta de la zona cambia
    conforme el envejecimiento de la mujer y la cantidad de partos.</p>
<br>

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("sintomas", section_headers)}}
<ul>
    <li>Sangrado anormal después de la relación sexual</li>
    <li>Aumento del flujo de sangrado vía genital con mal olor entre los periodos de menstruación o después de la
        menopausia</li>
    <li>Dolor de cadera</li>
    <li>Perdida de peso</li>
</ul>
<img class="center img-md" src="/static/img/cancer-cervicuterino.png">
<br>

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("factores-de-riesgo", section_headers)}}
<div class="list-titles-parag">
    <ul>
        <li>
            <h3>Infección por virus de papiloma humano (VPH)</h3>
            <br>
            <p>El factor de riesgo más importante del cáncer de cuello uterino
                es la infección por el virus del papiloma humano. El VPH es un grupo
                de más de 150 virus relacionados. Algunos de ellos causan un tipo de
                crecimiento llamado papiloma que se conoce más comúnmente como verruga.
            </p>
            <p>La infección por VPH es común, y en la mayoría de las personas
                nuestro propio organismo puede eliminar la infección por sí mismo,
                algunas veces la infección no desaparece y se torna crónica.
                Aunque actualmente no hay cura para la infección de VPH,
                existen maneras de tratar las verrugas y el crecimiento celular
                anormal que causa el virus. Además, hay vacunas disponibles que
                ayudan a prevenir la infección de ciertos tipos de VPH.
            </p>
            <br>
        </li>
        <li>
            <h3>Antecedentes sexuales</h3>
            <br>
            <p>Varios factores relacionados con los antecendentes sexuales pueden aumentar el riesgo
                de padecer el cáncer de cuello uterino, por ejemplo, ser sexualmente
                activo a una edad temprana (menores de 18 años), tener múltiples
                parejas sexuales y tener una pareja que se considera de alto riesgo
                (padeciente de infección por VPH).
            </p>
            <br>
        </li>
        <li>
            <h3>Tabaquismo</h3>
            <br>
            <p>Las mujeres que fuman tienen aproximadamente el doble de probabilidades de
                padecer cáncer de cuello uterino en comparación con las no fumadoras,
                fumar hace que el sistema inmunitario sea menos eficaz en combatir
                las infecciones con VPH.
            </p>
            <br>
            <img class="center img-sm" src="/static/img/mujer.png">
            <br>
        </li>
        <li>
            <h3>Embarazo</h3>
            <br>
            <p>Las mujeres que han tenido tres o más embarazos a término tienen un mayor
                riesgo de padecer cáncer de cuello uterino, esto puede deberse a la mayor
                exposición a la infección por VPH con la actividad sexual; los cambios
                hormonales durante el embarazo podría causar que las mujeres sean más
                susceptibles al crecimiento tumoral.
            </p>
            <br>
        </li>
        <li>
            <h3>Sistema inmunitario debil</h3>
            <br>
            <p>El sistema inmunitario es importante para destruir las células cancerosas
                y retardar su crecimiento y extensión. En las mujeres infectadas con VIH,
                un precáncer de cuello uterino puede transformarse en un cáncer invasivo con mayor rapidez.</p>
            <br>
        </li>
        <li>
            <h3>Infeccion con clamidia</h3>
            <br>
            <p>La clamidia es una clase relativamente común de bacteria que puede infectar
                el sistema reproductor. Las mujeres infectadas con clamidia a menudo no
                presentan síntomas y es posible que no sepan que están infectadas a menos
                que se les hagan pruebas durante un examen pélvico. La infección con clamidia
                puede causar inflamación de la pelvis que puede conducir a la infertilidad.
            </p>
            <br>
        </li>
    </ul>
</div>
<img class="center img-sm" src="/static/img/imagenbebe.png">

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("deteccion", section_headers)}}
<p>El cáncer cérvico uterino se detecta por medio de la prueba
    llamada Papanicolaou, esta prueba se detecta por medio de
    una muestra de células del cuello uterino.</p>
<img class="center img-md" src="/static/img/cancer-cervicuterino2.png">


{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("instituciones", section_headers)}}
<p>Hospital General del Estado Dr. Ernesto Ramos Bours.</p>
<p>Blvd. Luis Encinas J. S/N, San Benito, 83000 </p>
<p>662 259 2501</p>
<br>

<p>Hospital Infantil del Estado de Sonora</p>
<p>Calle de la Reforma 355, Ley 57, 83100</p>
<p>662 289 0600</p>
<br>

<p>Hospital Oncologico del Estado de Sonora</p>
<p>Reforma Final esq. Río Magdalena. Fraccionamiento Vado del Río. c.p. 83280</p>
<p>(662) 21758-36 y (662) 276-0059 </p>
<br>

<p>Clínica del Noroeste</p>
<p>Av Luis Donaldo Colosio #23, Centro, 83000</p>
<p>212 0620 ext-147</p>
<br>

<p>Hospital San José: <b>Centro de Alta Especialidad en Oncología San José Sonora</b></p>
<p>Bulevar José María Morelos 463, Las Colinas, 83145 </p>
<p>Hermosillo, Son</p>
<p>662 689 3289 ext-6300</p>
<br>

<p>Hospital San José Hermosillo</p>
<p>662 454 0060</p>
<p>Dr. Gilberto Covarrubias Espinoza</p>
<p>662 109 0531</p>
<br>

<p>ISSSTESON</p>
<p>Blvd. Miguel Hidalgo 15, Centro, 83000 Hermosillo, Son.</p>
<p>662 217 1028</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez: <b>Área de Quimioterapia</b></p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800 ext-88618</p>
<br>

<p>ISSSTESON-Centro Médico Dr. Ignacio Chávez</p>
<p>Av Aguascalientes S/N, Centro, 83000 Hermosillo, Son.</p>
<p>662 109 3800</p>
<br>

<p>IMSS Zona 14: <b>Unidad Médica Familiar</b></p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>647 427 0490</p>
<br>

<p>IMSS Zona 14</p>
<p>Calle República de Cuba Machi López, Montebello, 83120 </p>
<p>Hermosillo, Son.</p>
<p>800 623 2323</p>
<br>

<p>Hospital Cima: <b>Oncología</b></p>
<p>Av Paseo Río San Miguel no. 35, Proyecto Rio </p>
<p>Dr. Alfonso Genaro Guevara Torres</p>
<p>(662) 213 9418</p>
<p>Dr. Ernesto Rivera Claisse</p>
<p>(662) 259 9300</p>
<p>Dr. Maxwell Avilés Rodríguez</p>
<p>(662) 259 9300</p>
<br>
<div>
    <img class="center" src="/static/img/10.png" width="200">
</div>

{# <!-- /////////////////////////////////////////////////////////////////////////// --> #}
{{section_header("actividades", section_headers)}}
<br>
<div class="row row-eq-height cards">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="/static/img/wordwall.png" class="card-img-top">
                <h5 class="card-title">Word Scrabble</h5>
                <p class="card-text">Anagrama para conocer algunos de los conceptos<br> más importantes sobre el cancer
                    cervicouterino.</p>
                <a href="https://wordwall.net/resource/6833199/c%c3%a1ncer-cervicouterino" class="btn"
                    target="_blank">Ir a la Actividad <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="/static/img/video.png" class="card-img-top">
                <h5 class="card-title">Prevenir es ganar en cáncer de
                    cérvix</h5>
                <p class="card-text">Video informativo acerca del cáncer cervicouterino.</p>
                <a href="https://www.youtube.com/watch?v=7ieSngIC7VY&ab_channel=IBTGroupPer%C3%BA-SociedadesOperadoras"
                    class="btn" target="_blank">Ir al video <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock article %}