{% extends "base.html" %}
{% from "cursos/_article.html" import article_navbar, section_header %}
{% from "_button_link.html" import button_link %}
{# Requires dict section_headers #}


{% block content_navbar %}
<nav id="article-navbar" class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                {# <!-- Article sections --> #}
                {{article_navbar(section_headers)}}
            </ul>
        </div>
    </div>
</nav>
{% endblock content_navbar %}



{% block page_content %}

<!-- Article -->
{% block article %}{% endblock article %}


<!-- Quiz section header -->
{% if form and score != None and max_score != None %}
{{section_header("evaluacion", section_headers)}}
{% endif %}


<!-- Create quiz button -->


<style>
    #quizContainer {
        width: 100%;
        height: 50vh;
        border-radius: 20px;
        padding: 20px;
        background-color: #FFE1A4;
    }

    /* .quiz{
            text-align: center;
        } */

    .quiz .quiz-btn {
        display: flex;
        top: 50%;
    }

    @keyframes kf-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation-name: kf-fade-in;
        animation-duration: 1s;
    }
</style>
<div id="quizContainer" class="quiz">
    <button id="takeQuizBtn" class="btn quiz-btn">Hacer examen</button>
    <button id="downloadCertBtn" class="btn quiz-btn">Descargar certificado</button>
</div>

{# 
    <!-- Commented out old quizzes -->
    <!-- Download certificate -->
    {% if already_passed == True and certificate_endpoint %}
        {{
            button_link(
                href=url_for("main.certificate", name=certificate_endpoint),
                btn_text="Descargar certificado",
                target="_blank"
            )
        }}
    {% endif %}

    <!-- Quiz -->
    {{quiz(form, score, max_score)}}

#}
{% endblock page_content %}

{% block scripts %}
{{super()}}
{% with topic = "tstc", num_questions = 5 %}
<script>
    const quizTopic = "{{topic}}";
    const numQuizQuestions = {{ num_questions }};
    const downloadCertificateLink = "{{url_for('api.redirect_certificate') + '?topic=' + topic}}";
    const quizContainerId = "quizContainer";
    const quizBtnId = "takeQuizBtn";
    const downloadCertBtnId = "downloadCertBtn";
    const fadeInClass = "fade-in";
    const userEmail = "{{current_user.email}}";


    const quizContElem = document.getElementById(quizContainerId);
    const quizBtnElem = document.getElementById(quizBtnId);
    const downloadCertBtnElem = document.getElementById(downloadCertBtnId);


    /**
     * Fetches quiz html for the quiz form.
     * 
     * @param HTMLElement htmlElement Container tag for the quiz
     * @param string topic Codename of the quiz topic
     * @param number numQuestions Number of questions for the quiz
     */
    function renderNewQuiz(quizContElem, quizBtnElem, topic, numQuestions, fadeInClass) {
        const endpoint = "{{url_for('api.get_quiz_html')}}" + "?topic=" + topic + "&num_questions" + numQuestions;
        $.ajax(endpoint, {
            type: "post",
            success: (htmlContent) => {
                // Make button disappear
                quizBtnElem.style.display = "none";

                // Add quiz questions
                quizContElem.innerHTML += htmlContent;

                // Add fade in to form
                quizContElem.querySelector("form").classList.add(fadeInClass);

            },
            error: () => console.log("[QUIZ] Error in response from quiz")
        })
    }

    function passUserQuiz(email, topic, downloadCertBtnElem) {
        const endpoint = "{{url_for('api.user_pass_quiz')}}" + "?topic=" + topic + "&email=" + email;
        $.ajax(endpoint, {
            type: "post",
            success: (resp) => {
                console.log("[QUIZ] Server says: " + resp);

                // Unhide the certificate button
                if (resp === '1') {
                    downloadCertBtnElem.style.display = "block";
                }
            },
            error: () => console.log("[QUIZ] Error in response from pass quiz")
        });
    }

    
    async function fetchUserQuizData(email) {
        const endpoint = "{{url_for('api.get_user_quiz_data')}}" + "?email=" + email;
        return $.ajax(endpoint, {type: "get"});
    }

    fetchUserQuizData("rksamaniego@hotmail.com").then((data)=>alert(data));

    // Add event listener on click to fetch new quiz
    // Only works once
    quizBtnElem.onclick = () => {
        renderNewQuiz(quizContElem, quizBtnElem, quizTopic, numQuizQuestions, fadeInClass)
        quizBtnElem.onclick = null;
    }

    // Add url to certificate button
    downloadCertBtnElem.style.display = "none"; // Hide the certificate button
    downloadCertBtnElem.onclick = () => window.open(downloadCertificateLink, "_blank");
    downloadCertBtnElem.setAttribute("target", "_blank");
</script>
{% endwith %}
{% endblock scripts %}