{% extends "base.html" %}
{% from "cursos/_article.html" import article_navbar, section_header %}
{% from "_button_link.html" import button_link %}
{# Requires dict section_headers #}


{% block head %}
{{super()}}
<style>
    #quizContainer {
        width: 100%;
        height: 50vh;
        border-radius: 20px;
        padding: 20px;
        background-color: #FFE1A4;
    }

    /* .quiz{
            text-align: center;
        } */

    .quiz .quiz-btn {
        position: relative;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    #takeQuizBtn {
        top: 33%;
    }

    #dldCertBtn {
        bottom: -50%;

    }

    @keyframes kf-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation-name: kf-fade-in;
        animation-duration: 1s;
    }
</style>
{% endblock head %}

{% block modal %}
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalTitle" class="modal-title">Resultado de evaluación</h4>
            </div>
            <div class="modal-body">
                <p id="modalText">Felicitaciones por haber pasado el examen. Descargue su certificado en la liga.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}


{% block content_navbar %}
<nav id="article-navbar" class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#articleCollapse.navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="articleCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
                {# <!-- Article sections --> #}
                {{article_navbar(section_headers)}}
            </ul>
        </div>
    </div>
</nav>
{% endblock content_navbar %}


{% block page_content %}

<!-- Article -->
{% block article %}{% endblock article %}

<!-- Quiz -->
{{section_header("evaluacion", section_headers)}}
<div id="quizContainer" class="quiz">
    <button id="takeQuizBtn" class="btn quiz-btn" style="display: none;">Hacer examen</button>
    {% if topic and topic != "diag" %}
    <button id="dldCertBtn" class="btn quiz-btn" style="display: none;">Descargar certificado</button>
    {% endif %}
</div>

{% endblock page_content %}


{% block scripts %}
{{super()}}
<script>
    const MODAL = {
        id: "modal",
        titleId: "modalTitle",
        textId: "modalText",
    };
    MODAL.activate = () => $('#' + MODAL.id).modal();
    MODAL.setContent = (title, text) => {
        document.getElementById(MODAL.titleId).innerHTML = title;
        document.getElementById(MODAL.textId).innerHTML = text;
    }

    const QUIZ = {
        userEmail: {% if current_user.email %}"{{current_user.email}}"{% else %} {{ "null" }} {% endif %},
        topic: "{{topic}}",
        numQuestions: {{ num_questions }},
        correctAnswers: [],
        dldCertUrl: "{{url_for('api.redirect_certificate') + '?topic=' + topic}}",
        fadeInClass: "fade-in",
        containerId: "quizContainer",
        btnId: "takeQuizBtn",
        dldCertBtnId: "dldCertBtn",
        submitBtnId: "submit",
        alreadyPassed: false,
        modal: MODAL,
    };

    QUIZ.getContainer = () => document.getElementById(QUIZ.containerId);
    QUIZ.getForm = () => QUIZ.getContainer().querySelector("form");
    QUIZ.getAnswerData = () => {
        const questionNameStr = "questions-%d-answer";
        const form = QUIZ.getForm();
        const answers = [];
        for (let i = 0; i < QUIZ.numQuestions; ++i) {
            const questionFieldName = questionNameStr.replace("%d", i);
            answers.push(form[questionFieldName].value || null);
        }
        return answers;
    };
    QUIZ.calcScore = () => {
        const answers = QUIZ.getAnswerData();
        let score = 0;
        QUIZ.correctAnswers.forEach((cans, i) => {
            if (cans === answers[i]) {
                score++;
            }
        });
        return score;
    }
    QUIZ.getBtn = () => document.getElementById(QUIZ.btnId);
    QUIZ.getCertBtn = () => document.getElementById(QUIZ.dldCertBtnId);
    QUIZ.getSubmitBtn = () => document.getElementById(QUIZ.submitBtnId);
    QUIZ.btnOnClick = () => {
        QUIZ.getBtn().onclick = undefined;
        QUIZ.renderNewQuiz();
    };
    QUIZ.showBtn = () => {
        const btnElem = QUIZ.getBtn();
        btnElem.onclick = QUIZ.btnOnClick;
        btnElem.classList.add(QUIZ.fadeInClass);
        btnElem.style.display = "block";
    };
    QUIZ.hideBtn = () => {
        const btnElem = QUIZ.getBtn();
        btnElem.classList.remove(QUIZ.fadeInClass);
        btnElem.style.display = "none";
        btnElem.onclick = undefined;
    };
    QUIZ.showCertBtn = () => {
        const dldCertBtnElem = QUIZ.getCertBtn();
        dldCertBtnElem.classList.add(QUIZ.fadeInClass);
        dldCertBtnElem.style.display = "block";
        dldCertBtnElem.onclick = () => window.open(QUIZ.dldCertUrl, "_blank");
    };
    QUIZ.hideCertBtn = () => {
        const dldCertBtnElem = QUIZ.getCertBtn();
        dldCertBtnElem.classList.remove(QUIZ.fadeInClass);
        dldCertBtnElem.style.display = "none";
        dldCertBtnElem.onclick = undefined;
    };
    QUIZ.submitBtnOnClick = () => {
        const score = QUIZ.calcScore();
        {% if topic == "diag" %}
        QUIZ.showBtn();
        QUIZ.getForm().remove();
        if (score >= QUIZ.numQuestions) {
            
            QUIZ.modal.setContent(
                "Resultado de diagnóstico",
                "Felicidades, has pasado el examen diagnóstico."
            );
            QUIZ.modal.activate();
        }
        else {
            QUIZ.modal.setContent(
                "Resultado de diagnóstico",
                "Inténtalo de nuevo, estuviste muy cerca."
            );
            QUIZ.modal.activate();
        }

        {% else %}
        QUIZ.getForm().remove();
        QUIZ.showBtn();
        if (score >= QUIZ.numQuestions) {

            QUIZ.showCertBtn();
            passUserQuiz(QUIZ.userEmail, QUIZ.topic);

            QUIZ.modal.setContent(
                "Resultado de evaluación",
                "Felicidades, has pasado la evaluación. Descarga tu certificado en el botón."
            );
            QUIZ.modal.activate();
        }
        else {
            if (QUIZ.alreadyPassed === true) {
                QUIZ.showCertBtn();
            }
            QUIZ.modal.setContent(
                "Resultado de evaluación",
                "Inténtalo de nuevo, estuviste muy cerca."
            )
            QUIZ.modal.activate();
        }
        {% endif %}
    };
    QUIZ.renderNewQuiz = () => {
        const update = ({ answers, scoreToPass, htmlForm }) => {
            QUIZ.correctAnswers = answers;
            console.log(answers); // TODO: remove this

            // Make button disappear
            QUIZ.hideBtn();
            QUIZ.hideCertBtn();

            // Add quiz questions
            const quizContainerElem = QUIZ.getContainer();
            QUIZ.getContainer().innerHTML += htmlForm;

            const formElem = QUIZ.getForm();
            formElem.onsubmit = () => false; // Remove page refresh on submit
            formElem.classList.add(QUIZ.fadeInClass); // Add fade in to form
            const submitBtnElem = QUIZ.getSubmitBtn()
            submitBtnElem.classList.add("btn");
            submitBtnElem.onclick = QUIZ.submitBtnOnClick;


        };
        getNewQuiz(QUIZ.topic, QUIZ.numQuestions).then(update);
    };

    // Check that the use has passed quiz before or not
    getUserQuizData(QUIZ.userEmail).then((data) => {
        const isPassed = data[QUIZ.topic].is_passed || false;

        QUIZ.showBtn();
        if (isPassed) {
            QUIZ.alreadyPassed = true;
            QUIZ.showCertBtn();
        }
        else {
            QUIZ.hideCertBtn();
        }
    });

    function onClickSubmitBtn(answers, scoreToPass, numQuestions) {
        const score = calcQuizScore(answers, numQuestions, formElem);

        // TODO: remove debud if
        if (score >= scoreToPass) {
            QUIZ.getForm().remove(); // Remove form
            //alert(`PASS ${score}/${scoreToPass}`); // TODO: Remove alert


            // Make the user pass the quiz and show the button
            passUserQuiz(USER_EMAIL, QUIZ.topic).then(
                (res) => {
                    debugger;
                    QUIZ.showCertBtn();
                }
            );

        }
        else {
            alert(`no pass ${score}/${scoreToPass}`); // TODO: Remove alert

        }
    }

    // Fetches {answers, scroteToPass, htmlForm} from database
    function getNewQuiz(topic, numQuestions) {
        const endpoint = "{{url_for('api.get_quiz_html')}}" + "?topic=" + topic + "&num_questions=" + numQuestions;
        return new Promise((resolve, reject) =>
            $.ajax({
                url: endpoint,
                type: "POST",
                success: (res) => resolve(res),
                error: (err) => reject(err),
            })
        );
    }

    function getUserQuizData(userEmail) {
        const endpoint = "{{url_for('api.get_user_quiz_data')}}" + "?email=" + userEmail;
        return new Promise((resolve, reject) =>
            $.ajax({
                url: endpoint,
                type: "GET",
                success: (res) => resolve(res),
                error: (err) => reject(err),
            })
        );
    }


    function passUserQuiz(userEmail, quizTopic) {
        const endpoint = "{{url_for('api.user_pass_quiz')}}" + "?topic=" + quizTopic + "&email=" + userEmail;
        return new Promise((resolve, reject) =>
            $.ajax({
                url: endpoint,
                type: "POST",
                success: (resp) => resolve(resp),
                error: (err) => reject(err),
            })
        );
    }

</script>
{% endblock scripts %}