{% extends "base.html" %}
{% from "cursos/_quiz.html" import quiz %}

{% block title %}
Inicio
{% endblock %}

{% block banner %}
<img class="img-banner" src="../../static/img/Titulo_inicio.JPG">
{% endblock banner %}

{% block page_content %}
<br>
{% if current_user and not current_user.is_anonymous %}
<h1>Saludos {{current_user.first_name}}.</h1>
{% else %}
<h1>Bienvenidos</h1>
{% endif %}
<div id="carouselContainer" class="container">
    <br>
    <div id="carouselAGP" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselAGP" data-slide-to="0" class="active"></li>
            <li data-target="#carouselAGP" data-slide-to="1"></li>
            <li data-target="#carouselAGP" data-slide-to="2"></li>
            <li data-target="#carouselAGP" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="../../static/img/Logo_medico.png" alt="[Imagen 1]" width="450" height="345">
                <div class="carousel-caption">
                    <h3>Titulo imagen 1</h3>
                    <p>[Descripcion]</p>
                </div>
            </div>

            <div class="item">
                <img src="../../static/img/Logo_medico.png" alt="[Imagen 2]" width="450" height="345">
                <div class="carousel-caption">
                    <h3>Titulo imagen 2</h3>
                    <p>[Descripcion]</p>
                </div>
            </div>

            <div class="item">
                <img src="../../static/img/Logo_medico.png" alt="[Imagen 3]" width="450" height="345">
                <div class="carousel-caption">
                    <h3>Titulo imagen 3</h3>
                    <p>[Descripcion]</p>
                </div>
            </div>

            <div class="item">
                <img src="../../static/img/Logo_medico.png" alt="[Imagen 4]" width="450" height="345">
                <div class="carousel-caption">
                    <h3>Titulo imagen 4</h3>
                    <p>[Descripcion]</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#carouselAGP" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselAGP" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br>

<h1>¿Qué es Campus Virtual AGP?</h1>
<p>Es un sitio donde podrás encontrar información que te permita prevenir y detectar oportunamente diferentes tipos de
    cáncer. El objetivo es que a través de varias actividades y presentaciones, puedas tener información científica de
    este padecimiento</p><br>

<h1><b>¿Qué es el Cáncer?</b></h1>
<div>
    <p>
        El término cáncer se refiere a un gran número de enfermedades que pueden desarrollarse en cualquier parte del
        cuerpo.
        Como lo explica la Sociedad Americana del Cáncer, el cáncer se origina cuando las células crecen sin control y
        sobrepasan en número a las células normales. Esto hace que al cuerpo le resulte difícil funcionar de
        la manera que debería hacerlo.
    </p>
    <p>
        Para muchas personas, los resultados pueden ser exitosos al someterse a los tratamientos contra el cáncer. De
        hecho,
        ahora más que nunca hay un mayor número de personas que tienen una vida plena después de haber recibido su
        tratamiento contra el cáncer.
    </p>
    <p>
        Existen muchos tipos de cáncer. pues no es una sola enfermedad. El cáncer puede originarse en los pulmones, en
        el seno, en el colon o hasta en la sangre.
        Los diferentes tipos de cáncer tienen algunas similitudes, pero son diferentes en la manera en que crecen y se
        propagan.
    </p>
</div><br>

<h1><b>Diferencia entre tipos de Cáncer</b></h1>
<div>
    <p>
        Algunos tipos de cáncer crecen y se propagan rápidamente mientras que otros crecen más lentamente.
        También responden al tratamiento de diferente manera. Algunos tipos de cáncer se tratan mejor con cirugía;
        otros responden mejor a los medicamentos,
        lo cual se conoce como quimioterapia. A menudo se utiliza más de un tipo de tratamiento para conseguir los
        mejores resultados.
    </p>
    <p>
        Las personas con cáncer necesitan un tratamiento específico que sea el más eficaz para su tipo de cáncer.
    </p>
</div><br>

<h1><b>Actividades</b></h1>
<br>
{# <!-- Row 1 -->#}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/crucigrama.jpg" class="card-img-top">
                <h5 class="card-title" style="font-family: GlacialIndifferenceBold;">¿Que tanto sabes sobre el
                    cáncer?</h5>
                <p class="card-text">Crucigrama para conocer algunos de los conceptos más <br>importantes sobre la
                    enfermedad.</p>
                <a href="https://puzzel.org/es/crossword/play?p=-MGLrgdFEuJx5Q_f-xy6" class="btn btn-primary"
                    target="_blank">Ir a la Actividad</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/memorama.png" class="card-img-top">
                <h5 class="card-title" style="font-family: GlacialIndifferenceBold;">¿Puedes encontrar todos los
                    pares?</h5>
                <p class="card-text">Memorama de relacion entre caracteristicas de la enfermedad.</p>
                <a href="https://matchthememory.com/serviciosolidario" class="btn btn-primary" target="_blank">Ir a
                    la Actividad</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/como-funciona.jpg" class="card-img-top">
                <h5 class="card-title" style="font-family: GlacialIndifferenceBold;">¿Como funciona?</h5>
                <p class="card-text">La enfermedad puede ser un poco confusa, <br>estar informado puede date varias
                    ventajas.</p>
                <a href="https://www.youtube.com/watch?v=2YDAM_5cimA" class="btn btn-primary" target="_blank">Ir al
                    Video</a>
            </div>
        </div>
    </div>
</div>

{# <!-- Row 2 -->#}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/familia.jpg" class="card-img-top">
                <h5 class="card-title" style="font-family: GlacialIndifferenceBold;">¿Conoces el impacto que puede
                    llegar a tener?</h5>
                <p class="card-text">Puede ser una lucha dificil pero no estas solo.</p>
                <a href="https://matchthememory.com/serviciosolidario" class="btn btn-primary" target="_blank">Ir a
                    la Actividad</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img src="../../static/img/cuerpo.jpg" class="card-img-top">
                <h5 class="card-title" style="font-family: GlacialIndifferenceBold;">¿Que pasa en los
                    tratamientos?
                </h5>
                <p class="card-text">Diviertete en este juego mientras aprendes sobre los tratamientos del
                    cancer.
                </p>
                <a href="https://www.xplorehealth.eu/es/media/media/help-me-cure-nadias-cancer?page=4"
                    class="btn btn-primary" target="_blank">Ir al Juego</a>
            </div>
        </div>
    </div>
</div>

<h2><b>Examen Autodiagnóstico</b></h2><br>

{% if form and score != None and max_score != None %}
{{quiz(form, score, max_score)}}
{% endif %}

{% endblock %}