


<div class="contenedor">
    <img src="../../static/img/certificate_testicular.png" style="width:50%;">
    <div class="nombre">PEPITO PEREZ</div>
    <div class="texto-superior">CONSTANCIA</div>
    <div class="letra-a">A</div>
    <div class="texto-inferior">Por haber acreditado el programa preventivo de:<br>"Cáncer de Testículo"</div>
    <div class="fecha">09/octubre/2020</div>
  </div> 

<style>
    .contenedor {
        position: relative;
        text-align: center;
    }
    .nombre {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: bolder;
    }
    .texto-superior {
        position: absolute;
        font-size: 25px;
        top: 40%;
        left: 44%;
        font-weight: bolder;
    }
    .letra-a {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 49.5%;
    }
    .texto-inferior {
        position: absolute;
        font-size: 22px;
        top: 70%;
        left: 34.2%;
    }
    .fecha {
         position: absolute;
         font-size: 15px;
         top: 85%;
         left: 46.4%
    }
</style>