
.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    margin-left: 50px;
}
h2{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: bold;
    font-style: bold;
    margin-left: 50px;
}
p{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal; 
    margin-left: 50px;
}
ul{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    margin-left: 50px;
}