.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
}
h2{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: bold;
    font-style: bold;
}
p{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    text-align: justify; 
    font-size: larger;
}
ul{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: larger;
}
ol{
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: larger;
}