* {
    font-family: "GlacialIndifferenceRegular";
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-style: bold;
}

ul {
    font-weight: bold;
    font-style: italic;
}


.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.fw-bold {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.img-banner {
    width: 100%;
}