{% extends "base.html" %}

{% block title %}
Contacto
{% endblock %}

{% block head%}
{{super()}}
<style>
    #title {font-size: 2.5em; margin-left: 30px; }
    #contactInfo h3 { margin-bottom: 2px; }
    #contactInfo p { margin-top: 0; }
    #mapBox {text-align: center;}
    #map {
        width: 90%;
        height: 450px;
    }
    @media only screen and (max-width: 991px) {
        #contactInfo table { margin: auto;}
        #contactInfo{ text-align: center; }
        #map{
            width: 90%;
            height: 230px;
        }
        #title {
            margin-left: 0;
            text-align: center;
        }
    }
</style>
{% endblock head%}

{% block page_content %}
<h1 id="title">Contacto</h1>
<div id="row" class="row">
    <div id="mapBox" class="container col-md-7">
        <iframe
            id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3485.6797480703626!2d-110.9830936855608!3d29.1151346688265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145da33f84a5072b%3A0xb3002dfa1c25306!2sAgrupaci%C3%B3n%20George%20Papanicolaou%20A.C.%20de%20Hermosillo!5e0!3m2!1ses!2smx!4v1600049428951!5m2!1ses!2smx"
            frameborder="0"allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>
    <div id="contactInfo"class="container col-md-5">
       
        <h3 >Dirección</h3>
        <p>Olivares, Luis Encinas, 83138 Hermosillo, Son.</p>
        <h3>Horario</h3>
        <table>
                <td>Lunes - Viernes</td>
                <td style="padding-left: 20px;">8:00 - 13:00</td>
            </tr>
            <tr>
                <td>Sábado</td>
                <td style="padding-left: 20px;">cerrado</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td style="padding-left: 20px;">cerrado</td>
            </tr>
        </table>
        <h3>Teléfono</h3>
        <p>662 216 4883</p>
        <h3>Nuestras redes</h3>
        <a href="https://www.facebook.com/AGPHermosillo.Oficial/" title="Facebook">
            <img src="/static/img/facebook-logo.png" class="icon">
            AGP Hermosillo
        </a><br>
        <a href="https://www.instagram.com/agp_hermosillo/" title="Instagram">
            <img src="/static/img/instagram-logo.png" class="icon">
            @agp_hermosillo
        </a><br>
        <a href="https://twitter.com/agphillooficial" title="Twitter">
            <img src="/static/img/twitter-logo.png" class="icon">
            @agphilloOFICIAL
        </a><br>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer id="contacto" class="container-fluid">
    <div class="row">
        <div id="footer-branding" class="col-sm-12">
            <a href="{{url_for('main.index')}}">
                <img id="footerLogo" src="/static/img/AGP logo PNG.png" style="margin:0;">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center copyright">
            Agrupación George Papanicolau A. C. 2020 © Todos los derechos reservados
        </div>
    </div>
</footer>
{% endblock footer %}