{% extends "base.html" %}

{% block title %}
AGP - Contacto
{% endblock %}

{% block page_content %}
<h1>Contacto</h1>
<div style="display: flex; flex-wrap: wrap">
    <spam>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3485.6797480703626!2d-110.9830936855608!3d29.1151346688265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145da33f84a5072b%3A0xb3002dfa1c25306!2sAgrupaci%C3%B3n%20George%20Papanicolaou%20A.C.%20de%20Hermosillo!5e0!3m2!1ses!2smx!4v1600049428951!5m2!1ses!2smx"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    </spam>
    <spam style="padding-left: 75px">
        <h3 style="margin-top: 0px; margin-bottom: 10px;">Nuestras redes</h3>
        <table style="font-size: large;  color: dimgray; margin-top: 0px; padding-top: 0px;">
            <tr>
                <td><a href="https://www.facebook.com/AGPHermosillo.Oficial/" title="Facebook"><img src="../../static/img/facebook-logo.png" style="width: 40px; height: 40px;"></a></td>
                <td style="padding-left: 20px;"><a href="https://www.facebook.com/AGPHermosillo.Oficial/" style="color: rgb(252, 132, 118)">AGP Hermosillo</a></td>
            </tr>
            <tr>
                <td><a href="https://twitter.com/agphillooficial" title="Twitter"><img src="../../static/img/twitter-logo.png" style="width: 40px; height: 40px; margin-top: 5px;"></a></td>
                <td style="padding-left: 20px;"><a href="https://twitter.com/agphillooficial" style="color: rgb(252, 132, 118);">@agphilloOFCIAL</a></td>
            </tr>
        </table>
        <h3 style="margin-bottom: 2px;">Dirección</h3>
        <p style="font-size: large; color: dimgray; margin-top: 0px;">Olivares, Luis Encinas, 83138 Hermosillo, Son.</p>
        <h3 style="margin-bottom: 2px">Horario</h3>
        <table style="font-size: large;  color: dimgray">
            <tr>
                <td>lunes - viernes</td>
                <td style="padding-left: 20px;">8:00 - 13:00</td>
            </tr>
            <tr>
                <td>sábado</td>
                <td style="padding-left: 20px;">cerrado</td>
            </tr>
            <tr>
                <td>domingo</td>
                <td style="padding-left: 20px;">cerrado</td>
            </tr>
        </table>
        <h3 style="margin-bottom: 2px">Teléfono</h3>
        <p style="font-size: large; color: dimgray; margin-top: 0px;">662 216 4883</p>
    </spam>
    
</div>

{% endblock %}