{% extends "base.html" %}

{% block title %}
Términos y condiciones
{% endblock title %}

{% block page_content %}
<h1>Términos y condiciones</h1>
<br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem enim similique distinctio officia fuga soluta
    provident possimus veniam? Impedit nihil ut exercitationem sit sequi vel provident quae hic. Labore quo laboriosam
    molestiae aliquid adipisci, odio provident quae cumque eaque eligendi officiis quis nemo voluptate facilis! Officiis
    provident sunt suscipit recusandae corrupti aliquam architecto natus veniam, laborum quos exercitationem nemo
    sapiente tempore omnis eius perferendis repellat quod deleniti nihil? Maxime quia sapiente ea hic amet voluptate
    est, odit libero possimus quisquam dignissimos ad. Eveniet vel hic unde id dolorem alias maxime amet, sint
    doloremque minus officiis itaque animi suscipit fugit a!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem enim similique distinctio officia fuga soluta
    provident possimus veniam? Impedit nihil ut exercitationem sit sequi vel provident quae hic. Labore quo laboriosam
    molestiae aliquid adipisci, odio provident quae cumque eaque eligendi officiis quis nemo voluptate facilis! Officiis
    provident sunt suscipit recusandae corrupti aliquam architecto natus veniam, laborum quos exercitationem nemo
    sapiente tempore omnis eius perferendis repellat quod deleniti nihil? Maxime quia sapiente ea hic amet voluptate
    est, odit libero possimus quisquam dignissimos ad. Eveniet vel hic unde id dolorem alias maxime amet, sint
    doloremque minus officiis itaque animi suscipit fugit a!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem enim similique distinctio officia fuga soluta
    provident possimus veniam? Impedit nihil ut exercitationem sit sequi vel provident quae hic. Labore quo laboriosam
    molestiae aliquid adipisci, odio provident quae cumque eaque eligendi officiis quis nemo voluptate facilis! Officiis
    provident sunt suscipit recusandae corrupti aliquam architecto natus veniam, laborum quos exercitationem nemo
    sapiente tempore omnis eius perferendis repellat quod deleniti nihil? Maxime quia sapiente ea hic amet voluptate
    est, odit libero possimus quisquam dignissimos ad. Eveniet vel hic unde id dolorem alias maxime amet, sint
    doloremque minus officiis itaque animi suscipit fugit a!</p>
{% endblock page_content %}