{% extends "base.html" %}

{% block title %}
Términos y condiciones
{% endblock title %}

{% block page_content %}
<h1>Terminos y condiciones</h1>
<p>&nbsp;</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus accusamus quidem earum quisquam omnis fuga dolor
    eius ipsa sit inventore, doloribus recusandae adipisci ipsam quas velit cum dolore. Ea eos harum optio, ipsum
    repudiandae iure minima doloribus corporis, quibusdam similique labore temporibus explicabo quae esse rem? Illo ad
    libero tenetur, laboriosam minima veniam molestias nulla non velit saepe blanditiis. Rem, qui. Id suscipit aliquid
    molestias beatae dolorem adipisci, rerum, temporibus maxime reprehenderit veniam laborum, dolorum itaque debitis
    ipsa. Quo optio minus porro quisquam perferendis officia, enim iste quidem. Doloremque doloribus consectetur
    adipisci at vel nulla, obcaecati similique repellat illum quo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus accusamus quidem earum quisquam omnis fuga dolor
    eius ipsa sit inventore, doloribus recusandae adipisci ipsam quas velit cum dolore. Ea eos harum optio, ipsum
    repudiandae iure minima doloribus corporis, quibusdam similique labore temporibus explicabo quae esse rem? Illo ad
    libero tenetur, laboriosam minima veniam molestias nulla non velit saepe blanditiis. Rem, qui. Id suscipit aliquid
    molestias beatae dolorem adipisci, rerum, temporibus maxime reprehenderit veniam laborum, dolorum itaque debitis
    ipsa. Quo optio minus porro quisquam perferendis officia, enim iste quidem. Doloremque doloribus consectetur
    adipisci at vel nulla, obcaecati similique repellat illum quo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus accusamus quidem earum quisquam omnis fuga dolor
    eius ipsa sit inventore, doloribus recusandae adipisci ipsam quas velit cum dolore. Ea eos harum optio, ipsum
    repudiandae iure minima doloribus corporis, quibusdam similique labore temporibus explicabo quae esse rem? Illo ad
    libero tenetur, laboriosam minima veniam molestias nulla non velit saepe blanditiis. Rem, qui. Id suscipit aliquid
    molestias beatae dolorem adipisci, rerum, temporibus maxime reprehenderit veniam laborum, dolorum itaque debitis
    ipsa. Quo optio minus porro quisquam perferendis officia, enim iste quidem. Doloremque doloribus consectetur
    adipisci at vel nulla, obcaecati similique repellat illum quo.</p>
{% endblock page_content %}