@font-face {
    font-family: GlacialIndifferenceRegular;
    src: url(fonts/GlacialIndifference-Regular.otf);

}

@font-face {
    font-family: GlacialIndifferenceBold;
    src: url(fonts/GlacialIndifference-Bold.otf);
}

:root {
    --primary: #67C5D2;
    --secondary: #FC8476;
    --detail-font: #FC8476;
}

* {
    font-family: "GlacialIndifferenceRegular";
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-style: bold;
}

ul {
    font-weight: bold;
    font-style: italic;
}

/* Article images */
img {
    display: inline-block;
}

.img-block {
    display: block;
}

.img-lg {
    width: 100%;
}

.img-md {
    width: 65%;
}

.img-sm {
    width: 25%;
}




/* Mediq queries for mobile devices */
@media only screen and (max-width: 786px) {
    img.img-lg {
        width: 100%;
    }

    img.img-md {
        width: 80%;
    }

    img.img-sm {
        width: 45%;
    }

}



.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.centrar {
    text-align: center;
}

.fw-bold {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.img-banner {
    width: 100%;
    margin-bottom: 80px;
}

#page-content {
    min-height: 500px;
}

#quiz-box {
    padding-bottom: 3cm;
}

/*1.- Hice un nuevo navbar que es custom en vez de primary 
para poder hacer los diseños queridos -A*/
#navbar.navbar.navbar-custom {
    /* margin-bottom: 0; */
    background-color: var(--primary);
}

/*2.- Navbar nuevo que centra el texto y aparte este de aqui 
es donde puedes cambiar y diseñar el texto del navbar -A*/
.nav.navbar-nav.navbar-center li a {
    color: #181818;
    font-weight: bold;
}

/*3.- Navbar mobile con el icon bar visible -A*/
.navbar-toggle,
.icon-bar {
    border: 1px solid #181818;
}

/*4.- Para centralizar imagenes que son más de una en una linea -A*/
.imgcenter {
    text-align: center;
    width: 100%;
}

.my-btn {
    margin: 8px 8px 5px 5px;
}

.width23 {
    width: 23%;
}


/*Footer style*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* footer {
    outline-offset: 20px;
    background: rgba(255, 213, 126, 0.7);
    width: 100%;
    height: 350px;
}

.main-content {
    display: flex;
    padding-top: 15px;
}

.first-column img {
    height: 300px;
    padding-left: 5%;
}

.second-column {
    margin-left: 10%;
}

.second-column h1 {
    font-family: "GlacialIndifferenceBold";
    font-size: 30px;
    text-transform: uppercase;
    color: #FC8476;
}

.content img {
    height: 50px;
}

.third-column {
    margin-left: 7%;
}

.third-column h1 {
    font-family: "GlacialIndifferenceBold";
    font-size: 30px;
    text-transform: uppercase;
    color: #FC8476;
}

.row {
    display: flex;
}

.row label {
    padding-left: 10px;
}

.forth-column {
    margin-left: 15%;
}

.forth-column h1 {
    font-family: "GlacialIndifferenceBold";
    font-size: 30px;
    text-transform: uppercase;
    color: #FC8476;
}

.content {
    font-size: 25px;
    max-width: 350px;
}

.rows {
    display: flex;
    margin-top: 20px;
}

.rows label {
    margin-top: 10px;
    padding-left: 5px;
}

.copyright {
    left: 50%;
    text-align: center;
    font-size: 18px;
} */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#carouselContainer {
    margin: 0px;
    padding-left: 0px;
    padding-right: 30px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 35%;
    margin: auto;
}