{% extends "base.html" %}
{% from "courses/_quiz.html" import quiz %}

{% block title %}
AGP - Cáncer de Próstata
{% endblock %}

{% block page_content %}
<body>
    <div class="make-center">
        <img src="../../static/img/portadapro.JPG" width="1330">
    </div>
</body>
<link rel="stylesheet" href="https://fontlibrary.org/face/glacial-indifference">
<link rel="stylesheet" href="../../static/cancer_prostata_style.css">

<div><a href="#Quees">¿QUÉ ES?</a></div>
<br>
<div><a href="#Sintomas">SÍNTOMAS</a></div>
<br>
<div><a href="#Prevencion">PREVENCIÓN</a></div>
<br>
<div><a href="#Actividades">ACTIVIDADES</a></div>
<br>
<div><a href="#Quiz">QUIZ</a></div>

<h2 id="Quees">¿QUÉ ES EL CANCER DE PROSTATA?</h2>
<p style="text-align: justify;">
    Se origina cuando las células de la próstata comienzan a crecer fuera de control.
    La próstata es una glándula que sólo tienen los hombres, que produce parte del líquido del semen.
    La próstata está debajo de la vejiga y delante del recto.
    Justo detrás de la próstata se encuentran las vesículas seminales,que producen la mayor parte del líquido del semen.
    La uretra, que transporta la orina y el semen fuera del cuerpo, pasa por el centro de la próstata.

    El tamaño de la próstata puede cambiar a medida que el hombre envejece.
    En los más jóvenes, es del tamaño aproximado de una nuez.
    Puede ser mucho más grande en hombres de más edad.
</p>
<body>
    <div class="make-center">
        <img src="../../static/img/CancerProstata.PNG" width="600">
    </div>
</body>
<h2 id="Sintomas">SÍNTOMAS</h2>
<p>
    En etapa inicial no causa síntomas. Pero en etapas más avanzadas puede causar síntomas, como:
</p>
<ul>
    <li>Problemas al orinar, con un flujo urinario lento o debilitado o necesidad de orinar con más frecuencia,
        especialmente de noche
    </li>
    <li> Sangre en la orina o el semen</li>
    <li> Dificultad para lograr una erección </li>
    <li>Dolor en las caderas, la espalda, el tórax (costillas) u otras áreas debido a que el cáncer que se ha propagado
        a los huesos</li>
    <li> Debilidad o adormecimiento de las piernas o los pies, o pérdida del control de la vejiga o los intestinos
        debido a que el cáncer comprime la médula espinal</li>
</ul>
<p> Se debe hablar con un médico para asegurarse de la causa de estas señales.</p>
<div class="make-center">
        <img src="../../static/img/Síntomacprostrata.PNG" width="600">
</div>

<h2 id="Prevencion">PREVENCIÓN</h2>
<p>Existen algunas medidas que puede tomar para tratar de reducir su riesgo: </p>
<ul>
    <li>Dieta saludable</li>
    <li>La alimentación saludable debe incluir una variedad colorida de frutas y verduras, así como granos integrales, y
        que también limite el consumo de carnes rojas y procesadas, bebidas endulzadas con azúcar y alimentos altamente
        procesados.</li>
    <li>Mantener un peso saludable</li>
    <li>Hacer ejercicio la mayoría de los días de la semana</li>
    <li>Hablar con un médico sobre tu riesgo</li>
</ul>
<div class="make-center">
    <img src="../../static/img/Prevencióncprostata.PNG" width="420">
</div>
<h2 id="Actividades">ACTIVIDADES</h2>
<h2 id="Quiz">QUIZ</h2>

    {% if form and score != None and max_score != None %}
    {{quiz(form, score, max_score)}}
    {% endif %}

    {% endblock %}