{% extends "base.html" %}
{% from "courses/_quiz.html" import quiz %}

{% block title %}
AGP - Cáncer de Testículo
{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="https://fontlibrary.org/face/glacial-indifference">
<link rel="stylesheet" href="../../static/cancer_testiculo_style.css">

<div class="make-center">
    <img src="../../static/img/listontesticular.jpg" width="1330">
</div>

<div><a href="#Quees">¿QUÉ ES?</a></div>
<br>
<div><a href="#Sintomas">SÍNTOMAS</a></div>
<br>
<div><a href="#Prevencion">PREVENCIÓN</a></div>
<br>
<div><a href="#Actividades">ACTIVIDADES</a></div>
<br>
<div><a href="#Quiz">QUIZ</a></div>

<h2 id='Quees'>¿QUÉ ES EL CÁNCER TESTICULAR</h2>

<p>Se origina en los testículos. Los testículos tienen dos funciones principales: Producen hormonas masculinas, como la testosterona.
    Producen espermatozoides, necesarios para fertilizar la célula sexual femenina, y comenzar un embarazo. Los testículos están
    compuestos de muchos tipos de células. Es importante saber el tipo de célula en el que se originó el cáncer y qué tipo de cáncer
    es, porque se tratan de maneras diferentes.
</p>

<h2 id='Sintomas'>Síntomas</h2>

<p>El síntoma más común es un bulto o inflamación en algún testículo. Pueden ser tan pequeños como un chícharo. Normalmente
    causan molestias pero no dolor.</p>

<p>Otros síntomas comunes son:</p>
<ul>
    <li>Cambios en el tamaño, aspecto o textura de uno o ambos testículos</li>
    <li>Dolor o molestia en la espalda, la ingle, la parte inferior del abdomen o del escroto</li>
    <li>Pesadez en el escroto o hinchazón en la parte inferior del abdomen</li>
    <li>Bultos o sensibilidad en las mamas</li>
    <li>Acumulación de líquido en el testículo</li>
</ul>

    <div class="make-center">
        <img src="../../static/img/ctesticulosintomas.PNG" width="900">
    </div>

<h2 id='Prevencion'>PREVENCIÓN</h2>
<p>En la actualidad no es posible evitar la mayoría de los casos de esta enfermedad. Pero los expertos recomiendan corregir la
    criptorquidia (falta de descenso de uno o ambos testículos)
    en los niños.</p>
<p>El primer paso para diagnosticar este cáncer es examinarte por un médico para encontrar cualquier inflamación anormal.</p>
<p>Hacerse el hábito de autoexaminarse es una buena práctica para la identificación de síntomas en fase temprana. El mejor momento
    para autoexaminarte es durante o después de una ducha, cuando la piel está relajada. </p>
<ol>
    <li>Mueve el pene a un lado para poder ver los testículos en un espejo. Examínalos para detectar bultos o inflamación. Es normal
        que uno sea un poco más grande que el otro o cuelgue un poco más abajo.</li>
    <li>Sostén un testículo con los dedos índice y medio por debajo y con el pulgar por encima. Normalmente, cada testículo es
        ovalado, suave y firme</li>
    <li>Mueve el testículo suavemente entre el pulgar y los dedos para detectar bultos. </li>
    <li>Revisa el epidídimo, situado en la parte superior
        y posterior de cada testículo. Puede que lo sientas más desigual al tacto, o con
        más bultos, que el testículo.
        <body>
            <div class="make-center">
                <img src="../../static/img/ctesticuloprevencion1.png" width="500">
            </div>
        </body></li>
    <li>Palpa el tubo denominado “conducto deferente” que sale del epidídimo y se asemeja a un espagueti (Debe sentirse como un
        cordón suave). <br>
        <br>

        <div class="make-center">
            <img src="../../static/img/ctesticuloprevencion2.PNG" width="350">
            <img src="../../static/img/ctesticuloprevencion3.PNG" width="350">
        </div></li>
    <li>Repite el examen en el otro testículo.</li>
    <li>Realiza esta examinación de vez en cuando, aún cuando <br>
        no sientas síntomas. Esto te ayudará a familiarizarte con tu cuerpo y <br>
        detectar cuando haya anormalidades.</li>
</ol>

<h2 id='Actividades'>ACTIVIDADES</h2>
<p>LINK PARA ACTIVIDADES</p>
<h2 id='Quiz'>QUIZ</h2>
<p>LINK PARA QUIZ</p>

{% if form and score != None and max_score != None %}
{{quiz(form, score, max_score)}}
{% endif %}

{% endblock %}