<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cáncer de Testículo</title>
</head>
<body>
    <h1>Cáncer de Testículo</h1>
    <h2>¿Qué es el Cáncer de Testículo</h2>
    <p>Se origina en los testículos. Los testículos tienen dos <br>
        funciones principales: Producen hormonas masculinas, <br>
        como la testosterona. Producen espermatozoides, necesarios <br>
        para fertilizar la célula sexual femenina, y comenzar <br>
        un embarazo. Los testículos están compuestos de muchos <br>
        tipos de células. Es importante saber el tipo de célula <br>
        en el que se originó el cáncer y qué tipo de cáncer es <br>
        porque se tratan de maneras diferentes.
        </p>
    <h2>Síntomas</h2>
    <p>El síntoma más común es un bulto o inflamación en algún <br>
        testículo. Pueden ser tan pequeños como un chícharo. Normalmente <br>
        causan molestias pero no dolor. Otros síntomas comunes son:</p>
    <ul>
        <li>Cambios en el tamaño, aspecto o textura de uno o ambos testículos</li>
        <li>Dolor o molestia en la espalda, la ingle, la parte inferior del abdomen o del escroto</li>
        <li>Pesadez en el escroto o hinchazón en la parte inferior del abdomen</li>
        <li>Bultos o sensibilidad en las mamas</li>
        <li>Acumulación de líquido en el testículo</li>
    </ul>
    <p>Se debe hablar con un médico para asegurarse de la causa de estas señales.</p>
    
    <h2>¿Cómo prevenir?</h2>
    <p>En la actualidad no es posible evitar la mayoría de los casos <br>
        de esta enfermedad. Pero los expertos recomiendan corregir <br>
        la criptorquidia (falta de descenso de uno o ambos testículos) <br>
        en los niños.</p>
    <p>El primer paso para diagnosticar este cáncer es examinarte por <br>
        un médico para encontrar cualquier inflamación anormal.</p>
    <p>Hacerse el hábito de autoexaminarse es una buena práctica para <br>
        la identificación de síntomas en fase temprana. El mejor momento <br>
        para autoexaminarte es durante o después de una ducha, <br>
        cuando la piel está relajada. </p>
    <h3>Pasos para autoexaminarte</h3>
    <ol>
        <li>Mueve el pene a un lado para poder ver los testículos <br>
            en un espejo. Examínalos para detectar bultos o inflamación. <br>
            Es normal que uno sea un poco más grande que el otro o <br>
            cuelgue un poco más abajo.</li>
        <li>Sostén un testículo con los dedos índice y medio por debajo <br>
            y con el pulgar por encima. Normalmente, cada testículo es <br>
            ovalado, suave y firme</li>
        <li>Mueve el testículo suavemente entre el pulgar y los <br>
            dedos para detectar bultos. </li>
        <li>Revisa el epidídimo, situado en la parte superior <br>
            y posterior de cada testículo. Puede que lo sientas más <br>
            desigual al tacto, o con más bultos, que el testículo. <br>
            [AGREGAR IMAGEN ILUSTRATIVA DE LA UBICACIÓN DEL EPIDÍDIMO]</li>
        <li>Palpa el tubo denominado “conducto deferente” que sale del <br>
            epidídimo y se asemeja a un espagueti (Debe sentirse como un cordón suave).
            [AGREGAR IMÁGENES ILUSTRANDO LOS PASOS DEL PROCESO]</li>
        <li>Repite el examen en el otro testículo.</li>
        <li>Realiza esta examinación de vez en cuando, aún cuando <br>
            no sientas síntomas. Esto te ayudará a familiarizarte con <br>
            tu cuerpo y detectar cuando haya anormalidades.</li>
        <li>hola</li>
    </ol>
</body>
</html>