{% extends "base.html" %}
{% from "courses/_quiz.html" import quiz %}

{% block title %}
AGP - Cáncer de Mama
{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="https://fontlibrary.org/face/glacial-indifference">

<link rel="stylesheet" href="../../static/cancer_mama_style.css">

<div class="make-center">
    <img src="../../static/img/Imagen_titulo_cancer_mama.JPG" alt="[Imagen titulo de cancer de mama]" width="100%">
</div>
<br>
<div><a href="#Que es">¿QUÉ ES?</a></div>
<br>
<div><a href="#Sintomas">SÍNTOMAS</a></div>
<br>
<div><a href="#Factores de riesgo">FACTORES DE RIESGO</a></div>
<br>
<div><a href="#Autoexaminacion">AUTOEXAMINACION</a></div>
<br>
<div><a href="#Instituciones">INSTITUCIONES</a></div>
<br>
<div><a href="#Actividades">ACTIVIDADES</a></div>
<br>

<h2 id="Que es">¿QUÉ ES EL CANCER DE MAMA?</h2>

<p>[Descripcion del cancer de mama primera parte]</p>
<div class="make-center">
    <img src="" alt="[Mujeres de papel]" width="600">
</div>
<p>[Descripcion del cancer de mama segunda parte]</p>
<div class="make-center">
    <img src="../../static/img/Celulas_cancerigenas_en_el_seno.PNG" alt="[Celulas cancerijenas en el seno]" width="600">
</div>

<h2 id="Sintomas">SÍNTOMAS</h2>
<p>[Sintomas primer parrafo]</p>
<p>[Sintomas segundo parrafo]</p>
<ul>
    <li>Bultos en la mama o cerca de la axila en el 'area interna del brazo.</li>
    <li>Hinchaz'on de una parte de la mama o aumento de grosor.</li>
    <li>Cualquier cambio en la forma o el tama~no de la mama, asi como dolor.</li>
    <li>Irritaci'on, enrojecimiento, secreci'on, sangrado, hundimiento.</li>
</ul>
<div class="make-center">
    <img src="" alt="[Sintomas en seno]" width="600">
</div>

<h2 id="Factores de riesgo">FACTORES DE RIESGO</h2>
<p>[Descripcion de factores de riesgo]</p>
<ul>
    <li><b><i>Antecedentes familiares de c'ancer de mama.</i></b>[Descripcion mas detallada]</li>
</ul>
<ul>
    <li><b><i>El hacerse mayor.</i></b>[Descripcion mas detallada]</li>
</ul>
<ul>
    <li><b><i>Mamas densas.</i></b>[Descripcion mas detallada]</li>
</ul>
<ul>
    <li><b><i>Tratamientos previos de radioterapia.</i></b>[Descripcion mas detallada]</li>
</ul>
<ul>
    <li><b><i>Historial reproductivo.</i></b>[Descripcion mas detallada]</li>
</ul>
<ul>
    <li><b><i>Mutaciones gen'eticas.</i></b>[Descripcion mas detallada]</li>
</ul>

<h2 id="Autoexaminacion">AUTOEXAMINACI'ON</h2>
<div class="make-center">
    <img src="" alt="[Comic de autoexaminacion]" width="600">
</div>

<h2 id="Instituciones">Instituciones para acudir</h2>
<p><b>Agrupaci'on George Papaicolau A.C. Sonora</b></p>
<p>[Informacion de contacto]</p>
<p>[Informacion de contacto]</p>
<br>

<p><b>Grupo RETO Hermosillo, A.C.</b></p>
<p>[Informacion de contacto]</p>
<p>[Informacion de contacto]</p>
<br>

<p><b>Hospital Oncologico del Estado de Sonora</b></p>
<p>[Informacion de contacto]</p>
<p>[Informacion de contacto]</p>
<p>[Informacion de contacto]</p>
<br>
<div class="make-center">
    <img src="" alt="[Logo medico]" width="600">
</div>

<h2><b>Actividad</b></h2><br>
<div id = "#Actividades">
    [Actividad]
</div>

<h2><b>Quiz</b></h2><br>
<div ">
    {% if form and score != None and max_score != None %}
    {{quiz(form, score, max_score)}}
    {% endif %}
</div>
{% endblock %}