<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cancer de Próstata</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Cancér de Próstata</h1>
    <h2>¿Qué es el Cáncer de Próstata?</h2>
    <p>
        Se origina cuando las células de la próstata comienzan a crecer fuera de control.
        La próstata es una glándula que sólo tienen los hombres, que produce parte del líquido del semen.
        La próstata está debajo de la vejiga y delante del recto. 
        Justo detrás de la próstata se encuentran las vesículas seminales,que producen la mayor parte del líquido del semen. 
        La uretra, que transporta la orina y el semen fuera del cuerpo, pasa por el centro de la próstata.
        
        El tamaño de la próstata puede cambiar a medida que el hombre envejece. 
        En los más jóvenes, es del tamaño aproximado de una nuez.  
        Puede ser mucho más grande en hombres de más edad.
    </p>
    <h2>Señales o Sintomas</h2>
    <p>
        En etapa inicial no causa síntomas. Pero en etapas más avanzadas puede causar síntomas, como:
    </p>
    <ul>
        <li>Problemas al orinar, con un flujo urinario lento o debilitado o necesidad de orinar con más frecuencia, especialmente de noche   
        </li>
        <li> Sangre en la orina o el semen</li>
        <li> Dificultad para lograr una erección </li>
        <li>Dolor en las caderas, la espalda, el tórax (costillas) u otras áreas debido a que el cáncer que se ha propagado a los huesos</li>
        <li> Debilidad o adormecimiento de las piernas o los pies, o pérdida del control de la vejiga o los intestinos debido a que el cáncer comprime la médula espinal</li>
    </ul>
    <p> Se debe hablar con un médico para asegurarse de la causa de estas señales.</p>
<h2>Prevenir</h2>
<p>Existen algunas medidas que puede tomar para tratar de reducir su riesgo: </p>
<ul> 
    <li>Dieta saludable</li>
    <li>La alimentación saludable debe incluir una variedad colorida de frutas y verduras, así como granos integrales, y que también limite el consumo de carnes rojas y procesadas, bebidas endulzadas con azúcar y alimentos altamente procesados.</li>
    <li>Mantener un peso saludable</li>
    <li>Hacer ejercicio la mayoría de los días de la semana</li>
    <li>Hablar con un médico sobre tu riesgo</li>
</ul>
<h2>Instituciones para acudir</h2>
<p>Agrupacion George Papanicolau A.C Sonora
    <br>Teléfono: 662-216-4883
    <br>agphillo@hotmail.com</p>
<p>Centro Estatal de Oncología Hermosillo, Sonora
    <br>Teléfono :662 217 5836</p>
<p>Hospital Oncologico del Estado de Sonora
    <br>Teléfono : 01 (662) 21758-36 y 045 (662) 276-0059</p>
<p>Hospital Infantil del Estado de Sonora
    <br>Calle de la Reforma 355, Ley 57, Hermosillo, Sonora 83100
    <br>Teléfono Domicilio: 01 662 289 0600
</body>
</html>