{% extends "base.html" %}

{% block title %}
AGP - Cáncer de Mama
{% endblock %}

{% block page_content %}
<div class="imgt">
    [Imagen de 8 mujeres rosas en formato icon con una sola de color rojo]
</div><br>

<h1><b>Lo que debes saber</b></h1>
<ol>
    <li><h2>¿QUÉ ES?</h2></li>
    <div>
        El cáncer de mama es una enfermedad
        provocada por la multiplicación sin control de
        las células de la mama, el promedio de que una
        mujer en estados unidos la posea es del 13% por
        lo que 1 de cada 8 mujeres es propensa a
        padecerla.
    </div><br>

    <li><h2>PRINCIPALES TIPOS</h2></li>
    <div></div>
        <ul>
            <li><h3>Carcinoma ductal infiltrante:</h3></li>
            <div>
                Las células
                cancerosas se multiplican fuera de los
                conductos e invaden otras partes del tejido
                mamario.
            </div><br>
            <li><h3>Carcinoma lobulillar infiltrante:</h3></li>
            <div>
                Las células
                cancerosas se diseminan de los lobulillos a los
                tejidos mamarios cercanos.
            </div><br>
        </ul>
    </div><br>

    <div class="imgt">
        [Imagen de cancer de mama]
    </div><br>

    <li><h2>SINTOMAS Y SIGNOS</h2></li>
    <div>
        Es necesario conocer bien nuestros senos y
        reconocer como se sienten normalmente, alguno de
        los síntomas son:
        <ul>
            <li>Bultos en la mama</li>
            <li>Hinchazón de una parte de la mama</li>
            <li>Cambio en la forma o el tamaño</li>
            <li>Dolor</li>
            <li>Irritación, enrojecimiento, secreción, sangrado</li>
        </ul>
    </div><br>

    <div class="imgt">
        [Imagen de seno afectado]
    </div><br>

    <li><h2>FACTORES DE RIESGO</h2></li>
    <div>
        Uno de los principales factores de riesgo es
        como mujer volverse mayor pero cada caso es
        diferente, algunos de los factores que no varian
        son:
        <ul>
            <li>Antecedentes familiares</li>
            <li>El hacerse mayor</li>
            <li>Mamas densas</li>
            <li>Historial reproductivo</li>
            <li>Mutaciones genéticas</li>
        </ul>
    </div><br>

    <li><h2>INSTITUCIONES</h2></li>
    <div>
        Por último queremos recordar que existen
        varias instituciones que están para asistirlos
        en este proceso tan complicado que es el
        cáncer:
        <div><b>Agrupación George Papanicolau A.C. Sonora</b></div>
        <div>Teléfono Domicilio: 662-216-4883</div>
        <div>Email Trabajo: agphillo@hotmail.com</div><br>
        <div><b>Grupo RETO Hermosillo, A.C</b></div>
        <div>Vía Telefónica:01(662)217-58-34 extensión 128</div><br>
    </div><br>

    <div class="imgt">
        [Imagen de la institucion]
    </div><br>
</ol>

<h2><b>Actividad</b></h2><br>
<div class="imgt">
    [Actividad]
</div>

<h2><b>Quiz</b></h2><br>
<div class="imgt">
    [link Quiz]
</div>

{% endblock %}

</html>