{% extends "base.html" %}
{% from "courses/_quiz.html" import quiz %}
{% from "courses/_article_index.html" import article_index %}
{% set hrefs = [ 
    "#que-es",
    "#sintomas",
    "#factores-de-riesgo",
    "#autoexaminacion",
    "#instituciones",
    "#actividades",
    "#evaluacion"] %}
{% set titles = ["¿QUÉ ES?",
    "SÍNTOMAS",
    "FACTORES DE RIESGO",
    "AUTOEXAMINACION",
    "INSTITUCIONES",
    "ACTIVIDADES",
    "EVALUACIÓN"] %}

{% block page_content %}
    
    <!-- Index -->
    {{article_index( hrefs=hrefs, titles=titles)}}

    <!-- Sections -->
    {% block que_es %}
    <h2 id ="que-es" class="section-header">¿QUÉ ES?</h2>
    {% endblock que_es %}

    <h2 id ="sintomas" class="section-header">SÍNTOMAS</h2>
    {% block sintomas %}{% endblock sintomas %}

    <h2 id="factores-de-riesgo" class="section-header">FACTORES DE RIESGO</h2>
    {% block factores_de_riesgo %}{% endblock factores_de_riesgo %}

    <h2 id="autoexaminacion" class="section-header">AUTOEXAMINACIÓN</h2>
    {% block autoexaminacion %}{% endblock autoexaminacion %}

    <h2 id="instituciones" class="section-header">INSTITUCIONES</h2>
    {% block instituciones %}{% endblock instituciones %}

    <h2 id="actividades" class="section-header">ACTIVIDADES</h2>
    {% block actividades %}{% endblock actividades %}

    <!-- Quiz -->
    {% if form and score != None and max_score != None %}
    <h2 id="evaluacion" class="section-header">EVALUACIÓN</h2>
    {{quiz(form, score, max_score)}}
    {% endif %}

{% endblock page_content %}