{% extends "base.html" %}

{% block title %}
Tablero de cursos
{% endblock %}

{% block page_content %}
<h1>Tablero de cursos</h1>
<div class="container">
    <ul class="list-group" name="module-list">
        {% if not modules %}
        <h1>Más módulos proximamente...</h1>
        {% endif %}
        {% for module in modules %}
        <li class="list-group-item"><a href={{url_for("courses.module", module_id=module.id)}}>{{module.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}