{% extends "base.html" %}

{% block title %}
AGP - Diagnostico
{% endblock %}

{% block page_content %}
<h1><b>¿Qué es el Cáncer?</b></h1>
<div>
    El cáncer se origina cuando las células crecen sin control. Casi cualquier célula puede convertirse en cáncer
    y propagarse a otras partes del cuerpo.
</div><br>

<div class="centered-text">
    [+ info en general e imagen]
</div><br>

<h1><b>Examen Autodiagnóstico</b></h1><br>

<div class="centered-text">
    [link/examen]
</div><br>
{% endblock %}

</html>