{% extends "base.html" %}
{% from "courses/_quiz.html" import quiz %}

{% block title %}
AGP - Diagnóstico
{% endblock %}

{% block page_content %}
<h1><b>¿Qué es el Cáncer?</b></h1>
<div>
    El cáncer se origina cuando las células crecen sin control. Casi cualquier célula puede convertirse en cáncer
    y propagarse a otras partes del cuerpo.
</div><br>

<h2><b>Ejemplo de crucigramas</b></h2><br>

<div>
    <iframe src="https://www.crucigrama-online.com/userembed/crucigrama-de-ejemplo" width="800" height="600">
    </iframe>
</div>

<h2><b>Examen Autodiagnóstico</b></h2><br>

{% if form and score != None and max_score != None %}
{{quiz(form, score, max_score)}}
{% endif %}

{% endblock %}