{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<button data-toggle="collapse" data-target="#collapsible-quiz">Hacer examen</button>
<div id="collapsible-quiz" class="collapse">
    <h1>Calificación: {{score}}/{{max_score}}</h1>
    <form action="" method="POST">
        <div id="carousel-quiz" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <h2>Tomar examen</h2>
                </div>
                {% for question_form in form.questions %}
                <div class="item">
                    <p name="question-{{loop.index}}-text">{{question_form.text}}</p>
                    {{question_form.answer}}
                </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <ul class="pagination">
                <!-- Left -->
                <li>
                    <a class="left" href="#carousel-quiz" role="button" data-slide="prev">
                        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
                        Anterior
                    </a>
                </li>

                <!-- Indicators -->
                {% for _ in form.questions %}
                <li data-target="#carousel-quiz" data-slide-to="{{loop.index}}">
                    <a href="#question-{{loop.index}}">{{loop.index}}</a>
                </li>
                {% endfor %}

                <!-- Right -->
                <li>
                    <a class="right" href="#carousel-quiz" role="button" data-slide="next">
                        <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                        Siguiente
                    </a>
                </li>
            </ul>

        </div> <!-- Carousel -->
        {{form.submit}}
    </form>
</div> <!-- Collapsible -->
{% endblock %}