
<style>
    footer {
        text-align: left;
        background-color:  #FFE1A4;
    }


    footer h3{
        text-transform: uppercase;
        color: #FC8476;
    }

    footer a:link,
    footer a:visited,
    footer a:hover,
    footer a:active {
        text-decoration: none;
        color: #333;
    }


    footer a {
        overflow: hidden;
    }

    #footer-branding{
        text-align: center;
        /* background-color: white; */
    }
    
    #footerLogo {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        background-color: white;
        height: 180px;
        border-radius: 10px;
    }

    img.icon {
        display: inline-block;
        padding-bottom: 15px;
        width: 30px;
        transform: translateY(15%);
    }

    footer span{
        font-size: 2rem;
    }

    @media (max-width:991px)  { 
        footer {
            text-align: center;
        }
    }
</style>

<footer>
    <div class="row">
        <div id="footer-branding" class="col-md-3">
            <img id="footerLogo" src="../static/img/AGP logo PNG.png">
        </div>
        <div class="col-md-3">
            <h3>Dirección</h3>
            <a href="#">
                <img class="icon" src="../static/img/location-icon.png">
                <span>Olivares, Luis Encinas, 83138 Hermosillo, Son.</span>
            </a>
        </div>
        <div class="col-md-3">
            <h3>Teléfono</h3>
            <a href="#">
                <img class="icon" src="../static/img/phone-icon.png">
                <span>662 216 4883</span>
            </a>
        </div>
        <div class="col-md-3">
            <h3>Redes sociales</h3>
            <a href="#">
                <img class=" icon" src="../static/img/facebook-logo.png">
                <span>AGP Hermosillo</span>
            </a><br>
            <a href="#">
                <img class="icon" src="../static/img/instagram-logo.png">
                <span>@agp_hermosillo</span>
            </a><br>
            <a href="#">
                <img class="icon" src="../static/img/twitter-logo.png">
                <span>@agphilloOFICIAL</span>
            </a><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            Asociación George Papanicolau A. C. 2020 © Todos los derechos reservados
        </div>
    </div>
</footer>

<!-- <footer>
    <div class="container-all">
        <div class="main-content">
            <div class="first-column">
                <img src="../static/img/AGP logo PNG.png">
            </div>
            <div class="second-column">
                <h1>Dirección</h1>
                <div class="content">
                    <div class="row">
                        <img src="../static/img/location-icon.png">
                        <label>Olivares, Luis Encinas, 83138 Hermosillo, Son.</label>
                    </div>
                </div>
            </div>
            <div class="third-column">
                <h1>Teléfono</h1>
                <div class="content">
                    <img src="../static/img/phone-icon.png">
                    <label>662 216 4883</label>
                </div>
            </div>
            <div class="forth-column">
                <h1>Redes Sociales</h1>
                <div class="content">
                    <div class="rows">
                        <img src="../static/img/facebook-logo.png">
                        <label>AGP Hermosillo</label>
                    </div>
                    <div class="rows">
                        <img src="../static/img/instagram-logo.png">
                        <label>@agp_hermosillo</label>
                    </div>
                    <div class="rows">
                    <img src="../static/img/twitter-logo.png">
                    <label>@agphilloOFICIAL</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Asociación George Papanicolau A. C. 2020 © Todos los derechos reservados</p>
        </div>
    </div>
</footer> -->