{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
AGP Campus Virtual
{% endblock title %}

{% block head %}
{{ super() }}
{#<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" /> -->#}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block navbar %}


<div id="navbar" class="navbar navbar-custom" role="navigation">
    <a class="navbar-brand" href={{url_for("main.index")}}>
        <img id="navLogo" src="../../static/img/AGP-Nombre.png">
    </a>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
                {# <!-- Cancer type links --> #}
                <li><a href={{url_for("courses.diagnostico")}}>Inicio</a></li>
                <li><a href={{url_for("courses.cancer_testiculo")}}>Cáncer Testicular</a></li>
                <li><a href={{url_for("courses.cancer_prostata")}}>Cáncer en Próstata</a></li>
                <li><a href={{url_for("courses.cancer_pulmon")}}>Cáncer en Pulmón</a></li>
                <li><a href={{url_for("courses.cancer_mama")}}>Cáncer de Mama</a></li>
                <li><a href={{url_for("courses.cancer_cervicouterino")}}>Cáncer Cervicouterino</a></li>

                {# <!-- User auth links --> #}
                {% if current_user and not current_user.is_anonymous %}
                <li><a href={{url_for("auth.profile")}}>{{current_user.email}}</a></li>
                <li><a href={{url_for("auth.logout")}}>Salir</a></li>
                {% else %}
                <li><a href={{url_for("auth.login")}}>Ingresar</a></li>
                <li><a href={{url_for("auth.register")}}>Registrarse</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock navbar %}


{% block content %}
{% block banner %}{% endblock banner %}
<div id="page-content" class="container">
    <!-- Flashed messages -->
    {% for message in get_flashed_messages() %}
    <div class="aler alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {#{% block banner %}{% endblock banner %}#}
    {% block page_content %}{% endblock page_content %}
</div>
{% include "_footer.html" %}
{% endblock content %}


{% block scripts %}
{{super()}}
<script src="../static/js/script.js"></script>

{#<!-- TODO: Remove the reload cachced files script from production release. -->#}
<script src="../static/js/reloadCachedCSS.js"></script>
<script type="text/javascript">var topButton = "sleek/circle-blue";</script><script type="text/javascript" src="//backtotopbutton.com/script/toTop.js"></script>
{% endblock scripts %}

</html>